In [1]:
import pandas as pd

In [5]:
df = pd.read_excel(r'C:/Users/sriji/Sentdex ML/decison tree data.xlsx')

In [6]:
df.head()

  Company    job degree  salary more than 100k
0  Google    SDE     BS                      1
1  Google    SDE     BS                      1
2  Google     DS     MS                      1
3  Google     BA     BS                      0
4  Google  Sales     BS                      0

In [8]:
inputs = df.drop('salary more than 100k',axis = 'columns')  #separate independent variables from target variable
target = df['salary more than 100k']

Since ML cannot read textual stuff we need labelencoding

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [13]:
inputs['company_new'] = le_company.fit_transform(inputs['Company'])
inputs['job_new'] = le_job.fit_transform(inputs['job'])
inputs['degree_new'] = le_degree.fit_transform(inputs['degree'])

In [14]:
inputs.head()

  Company    job degree  company_new  job_new  degree_new
0  Google    SDE     BS            1        3           0
1  Google    SDE     BS            1        3           0
2  Google     DS     MS            1        1           1
3  Google     BA     BS            1        0           0
4  Google  Sales     BS            1        4           0

In [16]:
inputs = inputs.drop(['Company','job','degree'],axis = 'columns')

In [17]:
inputs.head()

   company_new  job_new  degree_new
0            1        3           0
1            1        3           0
2            1        1           1
3            1        0           0
4            1        4           0

In [18]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [19]:
model.fit(inputs,target)

DecisionTreeClassifier()

In [20]:
model.score(inputs,target)

1.0

In [21]:
model.predict([[1,1,1]])

C:\Users\sriji\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)