In [42]:
import pandas as pd

In [47]:
dataset = pd.read_csv(r'C:/Users/sriji/Sentdex ML/melbourne/Melbourne_housing_FULL.csv')
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,3/9/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/2/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,4/2/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/3/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [44]:
dataset.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [6]:
dataset.shape

(34857, 21)

In [8]:
dataset.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [48]:
cols_to_use = ['Suburb','Address','Rooms','Landsize','SellerG','Bedroom2','Bathroom','Car','CouncilArea','Regionname','Price','Propertycount','Distance']
dataset = dataset[cols_to_use]
dataset.head()

,Suburb,Address,Rooms,Landsize,SellerG,Bedroom2,Bathroom,Car,CouncilArea,Regionname,Price,Propertycount,Distance
0,Abbotsford,68 Studley St,2.0,126.0,Jellis,2.0,1.0,1.0,Yarra City Council,Northern Metropolitan,NaN,4019.0,2.5
1,Abbotsford,85 Turner St,2.0,202.0,Biggin,2.0,1.0,1.0,Yarra City Council,Northern Metropolitan,1480000.0,4019.0,2.5
2,Abbotsford,25 Bloomburg St,2.0,156.0,Biggin,2.0,1.0,0.0,Yarra City Council,Northern Metropolitan,1035000.0,4019.0,2.5
3,Abbotsford,18/659 Victoria St,3.0,0.0,Rounds,3.0,2.0,1.0,Yarra City Council,Northern Metropolitan,NaN,4019.0,2.5
4,Abbotsford,5 Charles St,3.0,134.0,Biggin,3.0,2.0,0.0,Yarra City Council,Northern Metropolitan,1465000.0,4019.0,2.5

In [49]:
cols_to_fill_zero = ['Propertycount','Bedroom2','Distance','Bathroom','Car']
dataset[cols_to_fill_zero] = dataset[cols_to_fill_zero].fillna(0)
dataset.isna().sum()

Suburb               0
Address              0
Rooms                0
Landsize         11810
SellerG              0
Bedroom2             0
Bathroom             0
Car                  0
CouncilArea          3
Regionname           3
Price             7610
Propertycount        0
Distance             0
dtype: int64

In [50]:
dataset['Landsize'] = dataset['Landsize'].fillna(dataset.Landsize.mean())

In [51]:
dataset.dropna(inplace=True)
dataset.isna().sum()

Suburb           0
Address          0
Rooms            0
Landsize         0
SellerG          0
Bedroom2         0
Bathroom         0
Car              0
CouncilArea      0
Regionname       0
Price            0
Propertycount    0
Distance         0
dtype: int64

In [19]:
dataset.head()

,Suburb,Address,Rooms,Landsize,SellerG,Bedroom2,Bathroom,Car,CouncilArea,Regionname,Price,Propertycount,Distance
1,Abbotsford,85 Turner St,2,202.0,Biggin,2.0,1.0,1.0,Yarra City Council,Northern Metropolitan,1480000.0,4019.0,2.5
2,Abbotsford,25 Bloomburg St,2,156.0,Biggin,2.0,1.0,0.0,Yarra City Council,Northern Metropolitan,1035000.0,4019.0,2.5
4,Abbotsford,5 Charles St,3,134.0,Biggin,3.0,2.0,0.0,Yarra City Council,Northern Metropolitan,1465000.0,4019.0,2.5
5,Abbotsford,40 Federation La,3,94.0,Biggin,3.0,2.0,1.0,Yarra City Council,Northern Metropolitan,850000.0,4019.0,2.5
6,Abbotsford,55a Park St,4,120.0,Nelson,3.0,1.0,2.0,Yarra City Council,Northern Metropolitan,1600000.0,4019.0,2.5

In [52]:
x = dataset.drop('Price',axis = 1)
y = dataset.Price

In [53]:
x.head()

,Suburb,Address,Rooms,Landsize,SellerG,Bedroom2,Bathroom,Car,CouncilArea,Regionname,Propertycount,Distance
1,Abbotsford,85 Turner St,2.0,202.0,Biggin,2.0,1.0,1.0,Yarra City Council,Northern Metropolitan,4019.0,2.5
2,Abbotsford,25 Bloomburg St,2.0,156.0,Biggin,2.0,1.0,0.0,Yarra City Council,Northern Metropolitan,4019.0,2.5
4,Abbotsford,5 Charles St,3.0,134.0,Biggin,3.0,2.0,0.0,Yarra City Council,Northern Metropolitan,4019.0,2.5
5,Abbotsford,40 Federation La,3.0,94.0,Biggin,3.0,2.0,1.0,Yarra City Council,Northern Metropolitan,4019.0,2.5
6,Abbotsford,55a Park St,4.0,120.0,Nelson,3.0,1.0,2.0,Yarra City Council,Northern Metropolitan,4019.0,2.5

In [54]:
y.head()

1    1480000.0
2    1035000.0
4    1465000.0
5     850000.0
6    1600000.0
Name: Price, dtype: float64

In [55]:
dataset = pd.get_dummies(dataset,drop_first = True)
dataset.head()
dataset.drop('Propertycount',axis=1)
dataset.head()

,Rooms,Landsize,Bedroom2,Bathroom,Car,Price,Propertycount,Distance,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2.0,202.0,2.0,1.0,1.0,1480000.0,4019.0,2.5,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2.0,156.0,2.0,1.0,0.0,1035000.0,4019.0,2.5,0,0,...,0,1,0,0,1,0,0,0,0,0
4,3.0,134.0,3.0,2.0,0.0,1465000.0,4019.0,2.5,0,0,...,0,1,0,0,1,0,0,0,0,0
5,3.0,94.0,3.0,2.0,1.0,850000.0,4019.0,2.5,0,0,...,0,1,0,0,1,0,0,0,0,0
6,4.0,120.0,3.0,1.0,2.0,1600000.0,4019.0,2.5,0,0,...,0,1,0,0,1,0,0,0,0,0

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [58]:
from sklearn.linear_model import LinearRegression

In [31]:
len(X_train)

21795

In [32]:
len(y_train)

21795

In [59]:
reg = LinearRegression().fit(X_train,y_train)

ValueError: could not convert string to float: 'Bulleen'