In [15]:
import pandas as pd
import quandl

In [2]:
!pip install quandl

Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.8 in c:\users\sriji\anaconda3\lib\site-packages (from quandl) (1.21.5)
Requirement already satisfied: python-dateutil in c:\users\sriji\anaconda3\lib\site-packages (from quandl) (2.8.2)
Requirement already satisfied: requests>=2.7.0 in c:\users\sriji\anaconda3\lib\site-packages (from quandl) (2.27.1)
Requirement already satisfied: inflection>=0.3.1 in c:\users\sriji\anaconda3\lib\site-packages (from quandl) (0.5.1)
Collecting more-itertools
  Downloading more_itertools-9.0.0-py3-none-any.whl (52 kB)
Requirement already satisfied: six in c:\users\sriji\anaconda3\lib\site-packages (from quandl) (1.16.0)
Requirement already satisfied: pandas>=0.14 in c:\users\sriji\anaconda3\lib\site-packages (from quandl) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sriji\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2021.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\sriji\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sriji\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sriji\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sriji\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.26.9)
Installing collected packages: more-itertools, quandl
Successfully installed more-itertools-9.0.0 quandl-3.7.0

In [16]:
df = quandl.get('WIKI/GOOGL')

In [17]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [18]:
df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]

In [19]:
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [20]:
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Close'])/df['Adj. Close']*100.0
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open'])/df['Adj. Open']*100.0

In [21]:
df = df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]

In [22]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0
2004-08-20   54.322689  0.710922    7.227007   22834300.0
2004-08-23   54.869377  3.729433   -1.227880   18256100.0
2004-08-24   52.597363  6.417469   -5.726357   15247300.0
2004-08-25   53.164113  1.886792    1.183658    9188600.0

In [24]:
forecast_col = 'Adj. Close'  #column to forecast
df.fillna(-99999,inplace = True)
import math
forecast_out = int(math.ceil(0.01*len(df))) #forecasted output
df['label'] = df[forecast_col].shift(-forecast_out )
df.dropna(inplace = True)
print(df.head())

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  69.078238
2004-08-20   54.322689  0.710922    7.227007   22834300.0  67.839414
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  1.886792    1.183658    9188600.0  71.219849

In [23]:
pd.set_option('mode.chained_assignment', None)

In [26]:
import numpy
from sklearn import preprocessing,svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression